.my-content-area.ng-leave {
  -webkit-transition: all 500ms; /* Safari/Chrome */
  transition: all 500ms;
} 

.my-fade-container {
  position: relative;
}
.my-fade-animation.ng-enter,
.my-fade-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.my-fade-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}
.my-fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.my-fade-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.my-fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
a{cursor:pointer;}